#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
/* App.css */

app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #719dcc7e; 
  font-family: Arial, sans-serif;
}

/* Header styling */
header {
  text-align: center;
  padding: 1rem;
  background-color: #253f5c7e; 
  color: #fff;

}

header h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

/* Main content styling */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* Footer styling */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #253f5c7e; 
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top:200px;
  background: #fff;
  padding-bottom: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text{
  color: #888;
  font-size: 48px;
  font-weight: 700;
}

.underline {
  width: 61px;
  height: 6px;
  background: #646cff;
  border-radius: 9px;
}

.inputs{
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input{
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #f7f7f7;
  border-radius: 6px;
}

.submit-container {
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.input input {
 height: 50px;
 width: 400px;
 background: transparent;
  border: none;
  outline: none;
  color:#61dafbaa;
  font-size: 19px;
}

.forgot-password {
  color: #7a7a80;
  font-size: 14px;
  text-align: right;
}

.forgot-password span {
  cursor: pointer;
color:#0004f3aa;
}

.submit-container{
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.submit{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  color: #fff;
  background: #646cff;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.gray {
  background: #f7f7f7;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

button {
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

button:hover {
  background-color: #0056b3; /* Darker shade for primary buttons */
  color: #fff; /* White text on hover */
}

